* {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
}
.main-section, .banner {
  margin: 0px 140px;
}
.btn-primary {
  border-radius: 8px;
  background: #f00;
  padding: 20px 35px;
  color: white;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  border: none;
}

button:hover {
  box-shadow: 2px 2px 5px black;
  cursor: pointer;
}

/* banner section  */

.banner {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner.png");
  margin: 50px 140px;
  border-radius: 16px;
  height: 700px;
  padding: 150px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-gretting {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  padding-top: 150px;
}

.banner-celebration {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  padding-top: 20px;
}

/* main section starts  */

/* 65% off section  */
.off-section {
  text-align: center;
  margin-bottom: 130px;
}

.off {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  padding-top: 120px;
  padding-bottom: 45px;
}

.off-description {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 10px;
}

.off-categories {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 50px;
}

/* midnight party section starts  */

.midnight-party {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("/images/Vectorrr.png");
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 270px;
}

.midnight-header {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.1px;
  max-width: 642px;
  padding-bottom: 30px;
}

.midnight-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 700px;
  padding-bottom: 50px;
}

.join-now {
  color: #fff;
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

/* venue starts here */
.red-color {
  color: #f00;
}
.venue {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding: 150px 390px 220px;
  text-align: center;
  height: 500px;
  margin-top: 140px;
  border-radius: 15px;
}

.venue-details {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  padding-bottom: 50px;
}

/* new best offer section starts here */

.new-best-offer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-top: 140px;
}
.coming-soon {
  width: 393px;
}
.best-offer-text {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.best-offer-header {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  padding: 25px 0px;
}
.best-offer-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

/* the image part  */
.new-offer-img {
  border-radius: 463px;
  border: 13px solid #f00;
  width: 365px;
  height: 365px;
  padding: 30px;
  margin-right: 125px;
}
/* 2024 part  */

.new-offer-2024 {
  width: 250;
}

.yr2024 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}

.yr2024-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding: 35px 0px;
}

/* holiday sale 50% parts starts here  */

.holiday-sale {
  width: 1060px;
  text-align: center;
  margin: 100px auto;
  padding: 120px;
}

.holiday-text {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.holiday-header {
  color: #070211;
  font-size: 72px;
  font-weight: 900;
  padding: 30px 0px;
}

.holiday-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

/* our awesome portfolio section starts here  */

.portfolio-container {
  text-align: left;
}

.portfolio-text {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.portfolio-header {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  padding: 30px 0px;
}

.portfolio-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 50px;
}

.img-container1 {
  display: flex;
  text-align: left;
  gap: 35px;
  margin-bottom: 35px;
  justify-content: space-around;
  padding: 5px;
}
.img-container1 > img:hover {
  box-shadow: 2px 2px 5px;
  cursor: pointer;
  border-radius: 15px;
}

/* subscriber newsletter section starts here */

.subscriber-newsletter {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  text-align: center;
  padding: 200px 100px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.subscriber-header {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  padding: 30px;
  align-items: center;
}

.subscriber-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 896px;
  text-align: center;
  margin: auto;
  padding: 25px;
}

.inputs {
  width: 648px;
  height: 72px;
  border-radius: 50px 0px 0px 50px;
  background: #fff;
  border: none;
  padding-left: 30px;
  margin-top: 40px;
}
.btn {
  width: 210px;
  height: 72px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border: none;
  color: white;
  font-size: 25px;
}


/* fotter section  */
footer {
  background: #070211;
  color: white;
  text-align: center;
  padding: 150px 10px;
}

.address-contact {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
  border-bottom: 4px solid rgba(255, 255, 255, 0.15);
  width: 1300px;
  margin: auto;
}

.address, .contact {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

.footer-icons {
  margin: 50px 10px;
}

.end-footer {
  display: flex;
  justify-content: space-around;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding-top: 50px;
  border-top: 4px solid rgba(255, 255, 255, 0.15);
  width: 1300px;
  margin: auto;
}

/* the end git */